* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    overflow: hidden;
}

.marquee {
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;

    overflow: hidden;
    white-space: nowrap;
}

.text {
    font-size: 60px;
    font-weight: bold;
    color: white;

    text-shadow:
        0 0 10px #00eaff,
        0 0 20px #00eaff,
        0 0 40px #00eaff;

    animation: chay 5s linear infinite;
}

@keyframes chay {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(-100%);
    }
}